<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307327081951-ok6d3o8nm2qk7pnbrfih83ul3rg6u3om.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307327081951-ok6d3o8nm2qk7pnbrfih83ul3rg6u3om</string>
	<key>API_KEY</key>
	<string>AIzaSyDwwmGEWLyRcEz07JxrfqPZVwQT7IOOl2c</string>
	<key>GCM_SENDER_ID</key>
	<string>307327081951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ljmutawa.baader</string>
	<key>PROJECT_ID</key>
	<string>baader-bc52f</string>
	<key>STORAGE_BUCKET</key>
	<string>baader-bc52f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307327081951:ios:daa7027da2d855478bf86a</string>
	<key>DATABASE_URL</key>
	<string>https://baader-bc52f.firebaseio.com</string>
</dict>
</plist>